
Django
djangorestframework
psycopg2-binary
django-ckeditor
django-js-asset
googletrans
redis
django-redis

django-cors-headers
django-environ

pytest
pytest-django
coverage
flake8
black
isort
gunicorn
whitenoise
drf-yasg
django-debug-toolbar
ipython
